body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #07101c;
    font-family: Arial, sans-serif;
    color: white;
}

.card-principal {
    margin-top: 30px;
    width: 350px;
    padding: 30px;
    border-radius: 12px;
    /* background-color: #111827; */
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.input {
    text-align: left;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 14px;
    color: #d1d5db;
}

input {
    width: 100%;
    border-radius: 6px;
    border: solid 1px #374151;
    background-color: #1f2937;
    color: white;
    padding: 10px;
    font-size: 14px;
    outline: none;
}

input::placeholder {
    color: #9ca3af;
}

button.continuar {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    background-color: rgb(107, 178, 208);
    color: #07101c;
    font-size: 16px;
    font-weight: 550;
    cursor: pointer;
}

button.continuar:hover {
    background-color: #0891b2;
}

.divider {
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: #9ca3af;
    font-size: 14px;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #374151;
}

.divider:not(:empty)::before {
    margin-right: 10px;
}

.divider:not(:empty)::after {
    margin-left: 10px;
}

.google-btn {
    width: 100%;
    padding: 12px;
    border: 1px solid #374151;
    border-radius: 8px;
    background-color: white;
    color: #111827;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.google-btn img {
    width: 20px;
}

.links {
    margin-top: 20px;
    font-size: 14px;
    color: #d1d5db;
}

.links a {
    color: #06b6d4;
    text-decoration: none;
    font-weight: 600;
}

.links a:hover {
    text-decoration: underline;
}

.sair {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000; /* Garante que o ícone fique acima de outros elementos */
}

/* Opcional: Adicionar um efeito de hover para melhorar a experiência do usuário */
.sair:hover {
  opacity: 0.8;
}