main{
  margin-left: 200px;
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px 10px 24px 10px;
}

.title-row {
  display: flex;
  align-items: center;
  gap: 16px;
}

.title-icon {
  width: 28px;
  height: 28px;
}

.separator {
  color: #F2F2F2;
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  padding-bottom: 2px;
}

.titulo {
  font-size: 2rem;
  color: #F2F2F2;
  font-weight: 600;
}

.subtitulo {
  font-size: 1.3rem;
  color: #9A9A9A;
  margin-top: 4px;
}

.dashboard-container {
  padding: 32px;
  color: #fff;
  background-color: #1A1A1E;
  border-radius: 8px;
  border: 1px solid #0c6bbf;
  box-sizing: border-box;
  width: 100%;
}

.titulo-dashboard {
  font-size: 1.8rem;
  margin-bottom: 24px;
  color: #3c6eba;
}

.cards-metricas {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.card-metrica {
  flex: 1;
  min-width: 200px;
  background: #131832;
  padding: 24px;
  border-radius: 8px;
  /* border: 1px solid #2b2b36; */
  transition: transform 0.2s;
}

.card-metrica:hover {
  transform: translateY(-4px);
}

.card-metrica h2 {
  font-size: 1rem;
  margin-bottom: 12px;
  color: #ccc;
}

.card-metrica .valor {
  font-size: 1.6rem;
  color: hsl(211, 99%, 72%);
  font-weight: bold;
}

.grafico-resumo {
  margin-bottom: 32px;
}

.grafico-resumo h2 {
  font-size: 1.2rem;
  margin-bottom: 12px;
  color: #ccc;
}

.grafico-placeholder {
  height: 200px;
  background: #040412;
  border: 1px dashed #9dcbff;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  font-style: italic;
}

.tabela-dashboard {
  margin-top: 24px;
}

.tabela-cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.tabela-cabecalho h2 {
  font-size: 1.2rem;
  color: #ccc;
}

.botao-ver-todos {
  background: #8cd5ff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.botao-ver-todos:hover {
  background: #6dacff;
}

.tabela-funcionarios {
  width: 100%;
  border-collapse: collapse;
  background: #040412;
  border: 1px solid #2b2b36;
  border-radius: 8px;
  overflow: hidden;
}

.tabela-funcionarios th,
.tabela-funcionarios td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #2b2b36;
  color: #ccc;
}

.tabela-funcionarios th {
  background: #0e2b56;
  color: #aac6ff;
}

.tabela-funcionarios tr:hover {
  background-color: #090915;
}

.logo-img{
  margin-left: 20px;
  margin-top: 5px;
  width: 40px;
  
}
