* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  font-family: "DM sans", sans-serif;
  background-color: #050529;
  color: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 5px;
  display: flex;
  align-items: center;
  z-index: 2;
}

header h1 {
  font-size: 1.25rem;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  padding: 80px 0 24px 0;
  background: #0a0a23;
  transition: width 0.3s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #2B2B36;
}

.sidebar.expanded {
  width: 200px;
}

.logo-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}


.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 8px;
  padding-right: 8px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: background 0.2s, box-shadow 0.3s;
  position: relative;
}

.icon-img {
  width: 20px;
  height: 20px;
}

.sidebar-item:hover {
  color: #050529;
  background: #6BB2D0;
}

.sidebar-item.active {
  background: none;
  border: none;
}

.label {
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.2s;
}

.sidebar.expanded .label {
  opacity: 1;
}

#back-btn {
  background: none;
  border: none;
  color: white;
  padding: 16px;
  margin: 0 8px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  border-radius: 8px;
}

#back-btn:hover {
  background:#6bb2d0;
}

main {
  flex: 1;
  margin-left: 80px;
  padding: 84px 32px 32px;
  transition: margin-left 0.3s;
}

.sidebar.expanded ~ main {
  margin-left: 200px;
}

.divisao-aside {
  background-color: #2B2B36;
  height: 3px;
  border: none;
  margin-top: 315px;
}

.logo-img{
  margin-left: 20px;
  margin-top: 5px;
  width: 40px;
  
}
